# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'AGSBS Package'
      'submenu': [
        {
          'label': 'Toggle agsbs-atom-package'
          'command': 'agsbs-atom-package:toggle'
        },
        {
          'label': 'Generate File'
          'command': 'agsbs-atom-package:generateFile'
        }
      ]
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'AGSBS Package'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'agsbs-atom-package:toggle'
        },
        {
          'label': 'Generate File'
          'command': 'agsbs-atom-package:generateFile'
        }
      ]
    ]
  }
]
