//styles for the dialogs
@import 'variables_mixins';

.modal_panel_after::after{
	visibility: visible;
}
//main dialog
.dialog_window {
	position: fixed !important;
	.centered;
    top: 0px;
	left: 0px;
    width: 100%;
    height: 100%;
	z-index: 0;

	.dialog_container {
		position: relative;
		z-index: 1;
		min-width: @dialog_width;
		background-color: @dark_background;
		border-radius: @border_radius;
		box-shadow: 0px 0px 30px 10px @primary;
		.transition;

		button {
			.buttons
		}

		.fontawesome_iconed_button {
			font-family: 'FontAwesome';
			.iconed_button;

			&::before {
				position: relative;
			}
		}

		.dialog_navigation {
			display: flex;
			justify-content: space-between;

			.dialog_headline {
				display: flex;
				align-items: center;
				margin-left: 2*@main_margin;
				font-size: 18px;
    			font-weight: bold;
			}
		}

		.dialog_content {
			font-size: 14px;
			min-width: calc(@dialog_width - 2*@main_margin);
			margin-left: @main_margin;
			margin-right: @main_margin;
			margin-bottom: @main_margin;

			button {
				.buttons;
			}

			input, select, textarea {
				-webkit-appearance: none;
				margin: @main_margin;
				background: @light_background;
				border: none;
				border-radius: @border_radius;

				&:focus {
					box-shadow: 0px 0px 4px 2px @primary;
				}
			}

			input[type = 'checkbox'] {
				height: 15px;
				width: 15px;
				outline: none;
				box-sizing: border-box;
				border: 2px solid @primary;

				&:hover {
					background-image: url(atom://agsbs-atom-package/styles/icons/check_hover.svg);
				}

				&:checked {
					background-image: url(atom://agsbs-atom-package/styles/icons/check_checked.svg);
				}

				& + label {
					.centered;
					margin:0px;
				}
			}

			.checkbox_container {
				display: flex;
			}

			select {
				background-repeat: no-repeat;
				background-position: right;

				&:hover {
					background-image: url(atom://agsbs-atom-package/styles/icons/arrow_select.svg);
				}
			}

			.number_input_container {
				position: relative;

				.arrow_up, .arrow_down {
					content: '';
					position: absolute;
					right: 5px;
					height: 12px;
					width: 25px;
					background-repeat: no-repeat;
				}

				.arrow_up {
					background-image: url(atom://agsbs-atom-package/styles/icons/arrow_up_number_hover.svg);
					bottom: 20px;

					&:hover {
						background-image: url(atom://agsbs-atom-package/styles/icons/arrow_up_number_active.svg);
						cursor: pointer;
					}
				}

				.arrow_down {
					background-image: url(atom://agsbs-atom-package/styles/icons/arrow_down_number_hover.svg);
					bottom: 8px;

					&:hover {
						background-image: url(atom://agsbs-atom-package/styles/icons/arrow_down_number_active.svg);
						cursor: pointer;
					}
				}
			}

			input::-webkit-inner-spin-button {
				-webkit-appearance: none;
			}

			input[type = 'text'], input[type = 'number'], input[type = 'password'], select, textarea {
				height: @button_size;
				padding-left: 15px;
				padding-right: 15px;
			}

			::-webkit-input-placeholder {
				color: @greyed;
			}

			.input_container label {
				display: block;
				margin-bottom: 0px;
				margin-left: @main_margin;
			}

			textarea {
				resize: none;
				height: @button_size;
				.transition;
			}

			input[type = 'file'] {
				display: none;
			}

			label[name = 'filepicker'] {
				.buttons;
				font-size: 18px;

				&::before {
					top: 4px;
					left: 3px;
				}

				&:hover {
					cursor: pointer;
				}
			}

			.file_input {
				display: flex;

				output {
					.centered;
					padding: 0px;
					margin: @main_margin 0px;
				}
			}

			input[type = 'submit'] {
				.buttons;
				margin-top: 2*@main_margin;
				display: block;
				float: right;
				position: relative;
				bottom: @main_margin;
			}
		}
	}
}
