@import 'variables_mixins';

.footnote_form {
	width: @dialog_width - @main_margin*2;

	#footnote_label {
		width: 50%;
		input {
			width: calc(~"100% - "@main_margin*2);
		}
	}

	#footnote_text {
		width: 50%;
		input {
			width: calc(~"100% - "@main_margin*2);
		}
	}
}
