@import 'variables_mixins';

.link_form {
	width: @dialog_width - @main_margin*2;

	#link {
		width: calc(~"100% - "@main_margin*2);
	}

	#link_text {
		width: calc(~"50% - "@main_margin*2);
	}

	#link_title {
		width: calc(~"50% - "@main_margin*2);
	}
}
