@import 'variables_mixins';

.main_navigation_container {
	width: 100%;
	display: flex;
	border-bottom: 1px solid @border;
	border-left: 1px solid @border;

	button {
		.buttons;
	}

	.fontawesome_iconed_button {
		font-family: 'FontAwesome';
		.iconed_button;

		&::before {
			position: relative;
			font-size: 18px;
			top: -3px;
		}
	}

	.own_iconed_button {
		.iconed_button;
	}
}
