//Styles espacialy for the new project dialog.
@import 'variables_mixins';

.git_container {
	height: 0px;
	overflow: hidden;
	.transition;

	#source {
		width: calc(~"100% - "@main_margin*2);
	}

	#git_user{
		width: calc(~"50% - "@main_margin*2);
	}

	#git_password {
		width: calc(~"50% - "@main_margin*2);
	}
}

.document_preferences_container {
	height: 0px;
	overflow: hidden;
	.transition;

	.input_container {
		display: inline-block;
		width: 33%;
	}

	#chapters {
		width: calc(~"100% - "@main_margin*2);
	}

	#appendixChapters {
		width: calc(~"100% - "@main_margin*2);
	}

	#language {
		width: calc(~"100% - "@main_margin*2);
	}
}

.table_of_contents_container {

	.checkbox_container {
		display: inline-block;
		width: 77%;
	}

	.input_container {
		display: inline-block;
		width: 33%;
	}

	#depth_of_table_of_contents {
		width: calc(~"100% - "@main_margin*2);
	}
}
